<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Customary 
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20100103

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Customary  by Free CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="logo">
		<h1>软件工程统计方法</h1>
		<p><em> 自宅警备队离散刺拳与弧线左右勾拳动作分解测量统计研究所<a href="http://www.freecsstemplates.org/"></a></em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/index" class="first">首页</a></li>
                <li ><a href="/single">单品信息</a></li>
				<li ><a href="/cateView">分类信息</a></li>
				<li><a href="/about">关于</a></li>
				
		  </ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="/ASIN/">
				<fieldset>
				  <input type="text" name="s" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="ASIN Search" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->
	<div id="page">
	<div id="page-bgtop">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">欢迎</a></h2>
				<p class="meta">2014-6-1 Posted by <a href="#">admin</a></p>
				<div class="entry">
					<p>这是首页。点选上方MenuBar内的“分类信息”条目，即可查看分类统计信息。如果想查看单品信息，可以点选上方MenuBar内的“单品信息”或者通过MenuBar左侧的搜索框直接搜索商品的ASIN码。 </p>
					<h2>
					以下是广告时间：<h2>
					<p>Diverse System 《AD：100》</p>
					<img src="css/images/index.jpg"  />
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
            	<li>
					<h2>制作人员</h2>
                    
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end #page -->
	<div id="footer-bgcontent">
	<div id="footer">
		<p>Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>
